/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

/* general */
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
:root {
	--color-secondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}
.container {
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto;
    border: 2px solid black;
}
#jumbotron{
    text-align: center;
    padding: 70px;
     background-image: url(../img/img/jumbo.png);
    background-size: cover;
    min-height: 400px;
}
/* header */
header {
    background-color: var(--color-header-bg);
    color: var(--color-secondary);
}
header-bg {
    background-image: url(../img/img/jumbo.png);
}
#jumbotron{
    text-align: center;
    padding: 70px;
     background-image: url(../img/img/jumbo.png);
    background-size: cover;
    min-height: 400px;
}

/* main */
.grey-bg {
    background-color: var(--color-section-bg);
}
.img-main{
    width: 30%;
}


/* footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* flex */
.display-flex{
    display: flex;
}
.flex-direction{
    flex-direction: row;
}
.space-between{
    justify-content: space-between;
}