/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* general */
:root {
    --color-secondary: #ffffff;
    --color-primary: #23272a;
    --color-header-bg: #255ee9;
    --color-section-bg: #f6f6f6;
    --color-contrast: #7289DA;
    --color-bg-alt: #7DE5CD;
    --color-bgmain-alt: #c5589a62;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-bgmain-alt);
    color: var(--color-primary);
    position: relative;
}

h1,
h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* links */
a {
    text-decoration: none;
}

.a-black {
    color: var(--color-primary);
}

.a-white {
    color: var(--color-secondary);
}

.i-black {
    color: var(--color-primary);
}

.i-white {
    color: var(--color-secondary);
}

.fa-solid {
    padding-right: 10px;
}

.color-contrast {
    color: var(--color-contrast);
}

/* :hover */

nav .a-white:hover {
    text-decoration: underline;
}

footer .a-white:hover {
    text-decoration: underline;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--color-primary);
}

.button:hover {
    color: var(--color-contrast);
    box-shadow: 0 8px 5px rgba(0, 0, 0, .2);
}

.button i:hover {
    color: var(--color-contrast);
}

.button-black:hover {
    box-shadow: 0 8px 5px rgba(0, 0, 0, .2);
}

.button-contrast:hover {
    box-shadow: 0 8px 5px rgba(0, 0, 0, .2);
}

.left img:hover {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
    animation: pulse 0.8s;
}


@keyframes pulse {
    50% {
      transform: scale(1.2);
    }
  }

/* links bottons */

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
}

.dropbtn::after {
    content: '\032C';
    position: absolute;
    left: 62px;
    top: 5px;

}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.button {
    background-color: var(--color-secondary);
    padding: 10px 12px;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.5s;
}

.button-contrast {
    background-color: var(--color-contrast);
    padding: 10px 12px;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.5s;

}

.button-black {
    background-color: var(--color-primary);
    padding: 10px 12px;
    margin-left: 15px;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.5s;
}

/* parterns */

#chat {
    position: absolute;
    width: 270px;
    right: 350px;
    top: 550px;
    opacity: 0;
    animation: fade-in 1s ease-in forwards 5s;
}

#clyde {
    position: absolute;
    right: 100px;
    top: 450px;
    opacity: 0;
    animation: fade-in 1s ease-in forwards 4s;
}


@keyframes fade-in {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

/* header */

header {
    background-color: var(--color-header-bg);
    color: var(--color-secondary);
}

#jumbotron {
    background-image: url(../img/img/b7e9dce75f9edb23504e13b4699e208f204e5015.png);
    min-height: 600px;
    background-size: cover;
    background-position: center;
}

header p,
nav {
    padding-bottom: 10px;
}

.botheader {
    margin: auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

header ul li {
    padding: 10px 20px;
}

/* main */

.section-bg {
    background-color: var(--color-bg-alt);
}

.left {
    width: 60%;
    position: relative;
    animation: identifier 5s 1;
}

@keyframes identifier {
    0% {
        top: 0;
        left: 0;
    }

    30% {
        top: 50px;
    }

    68%,
    72% {
        left: 50px;
    }

    100% {
        top: 0px;
        left: 0%;
    }
}

.left img {
    max-width: 100%;
}


.right {
    width: 40%;
    padding: 3%;
    position: relative;
    animation: slidein 2s 1;
}

@keyframes slidein {
    from {
        left: 100%;
        opacity: 0;
    }

    to {
        left: 0%;
        opacity: 1;

    }
}

.inverted-wave {
    width: 100%;
}

.inverted-wave img {
    width: 100%;
    filter: invert(95%) sepia(11%) saturate(1629%) hue-rotate(94deg) brightness(95%) contrast(88%);
    transform: rotate(180deg);
}

.wave {
    width: 100%;
    line-height: 0;
}

.wave img {
    width: 100%;
    filter: invert(95%) sepia(11%) saturate(1629%) hue-rotate(94deg) brightness(95%) contrast(88%);
    vertical-align: bottom;
}

#calltoaction {
    background-image: url(../img/img/stars.svg);
    width: fit-content;
    margin: 10px auto auto;
    padding: 23px 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.small-container-bottom img {
    width: 100%;
}

/* footer */

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

footer .top {
    border-bottom: 1px solid var(--color-contrast);
}


img[alt="ita-flag"] {
    width: 20px
}


#socials-items i {
    padding: 5px;
}

footer ul strong:first-child {
    color: var(--color-contrast);
}

footer li,
h3 {
    padding: 10px;
}

footer h3 {
    font-size: 2em;
}

#last-btn {
    color: var(--color-secondary);
}

/* utility */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 15px;
    font-size: 1em;
    line-height: 1.5;
    word-wrap: break-word;
}

.small-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 150px 20px;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    word-wrap: break-word;
    position: relative;
    animation: mymove 5s 1;
}

@keyframes mymove {
    0% {
        top: 0px;
    }

    25% {
        top: 200px;
    }

    75% {
        top: 10px
    }

    100% {
        top: 0px;
    }
}

.small-container-bottom {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    word-wrap: break-word;
    position: relative;
    animation: mymove 5s 1;
}

.small-container-bottom-cta {
    max-width: 800px;
    margin: 0 auto;
    padding: 90px;
    text-align: center;
    font-size: 1em;
    word-wrap: break-word;
}

nav,
.bottom-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* utility flex */

.d-flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
    align-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}